 <div class="container">
  <div class="row">
    <div class="col-xs-3">

      <div class="panel nav-menu">
        <div class="panel-header nav-menu-head">
          <h4 class="nav-bars">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </h4>
        </div>
        <div class="panel-body nav-menu-body hide-me" style="display: none;">
          <dl>
            <p class="page-link about-link green-text">About</p>
            <p class="page-link join-the-crew-link green-text">Join The Crew</p>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>
