<div class="container">
  <div class="row">
    <div class="col-xs-3">

      <div class="panel nav-menu">
        <div class="panel-header nav-menu-head">
          <h4 class="white-text">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </h4>
        </div>
        <div class="panel-body nav-menu-body hide-me" style="display: none;">
          <dl>
            <a class='page-link hello-link' href="#hello"><p class="green-text">Hello</p></a>
            <a class='page-link how-does-it-work-link' href="#how-does-it-work"><p class="green-text">How does it work?</p></a>
            <a class='page-link then-what-link' href="#then-what"><p class="green-text">Then what?</p></a>
            <a class='page-link oh-daaaamn-link' href="#oh-daaaamn"><p class="green-text">Oh daaaamn</p></a>
            <a class='page-link wanna-get-down-link' href="#wanna-get-down"><p class="green-text">Wanna get down</p></a>
            <a class='page-link booking-woes-link' href="#booking-woes"><p class="green-text">Booking woes</p></a>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>
