<div class="row">
  <div class="col-xs-3">

    <div class="panel nav-menu">
      <div class="panel-header nav-menu-head">
        <h4 class="green-text" style="cursor: pointer;">
          Browse <i class="fa fa-chevron-down rotate"></i>
        </h4>
      </div>
      <div class="panel-body nav-menu-body hide-me" style="display: none;">
        <dl>
          <a id="hello-link" class='page-link' href="#hello"><p class="green-text">Hello</p></a>
          <a id="how-does-it-work-link" class='page-link' href="#how-does-it-work"><p class="green-text">How does it work?</p></a>
          <a id="then-what-link" class='page-link' href="#then-what"><p class="green-text">Then what?</p></a>
          <a id="oh-daaaamn-link" class='page-link' href="#oh-daaaamn"><p class="green-text">Oh daaaamn</p></a>
          <a id="wanna-get-down-link" class='page-link' href="#wanna-get-down"><p class="green-text">Wanna get down</p></a>
          <a id="booking-woes-link" class='page-link' href="#booking-woes"><p class="green-text">Booking woes</p></a>
        </dl>
      </div>
    </div>

  </div>
</div>
