<div id="thanks_modal" class="modal">
  <!-- Modal content -->
  <div class="text-center modal-content">
    <%= image_tag("cancel.png", style: "position: absolute; top: 10px; right: 10px;", id: "cancel") %>
    <h1 class="modal-header">
      thank you
    </h1>
    <p class="modal-text">
      FOR SHARING THE LOVE!
    </p>
    <p class="modal-text">
      WE ARE WORKING HARD TO CHANGE THE LIVES OF BEAUTY PROS FOREVER! FOLLOW OUR JOURNEY ON SOCIAL AND WE'LL BE IN TOUCH WHEN WE LAUNCH!
    </p>
  </div>
</div>
