<div class="scroll-page" id="hello">
  <div class="container">
    <div class="row">

      <div class="col-xs-4 col-xs-offset-4 text-center title">
        <h4 class="green-text">ARE YOU A BEAUTY PRO?</h4>
      </div>

      <div class="col-xs-8 col-xs-offset-2 text-center brief">
        <h3>
          A new platform to create your ultimate salon website
        </h3>
      </div>

      <div class="col-xs-8 col-xs-offset-2 text-center brief">
        <p>
          With our tools, you’ll build a stunning beauty blog and monetize your content by turning posts into appointment bookings.
        </p>
      </div>

      <div class="col-xs-12">
        <%= render 'sign-up-form' %>
      </div>

    </div>
  </div>
</div>

<%= render 'nav-menu' %>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){

      // var input = document.querySelectorAll('input');
      // for(i=0; i<input.length; i++){
      //   input[i].setAttribute('size',input[i].getAttribute('placeholder').length);
      // }

      var scrollSpeed = 500;

      $(".hello-link").click(function() {
        $('body').animate({
          scrollTop: $("#hello").offset().top
        }, scrollSpeed);
      });

      $(".about-link").click(function() {
        $('body').animate({
          scrollTop: $("#about").offset().top
        }, scrollSpeed);
      });

      $(".join-the-crew-link").click(function() {
        $('body').animate({
          scrollTop: $("#join-the-crew").offset().top
        }, scrollSpeed);
      });

    });

  </script>
  <% end %>

