<div class="scroll_page">
  <div class="gradient">

    <div class="container">
      <div class="row">

        <div class="col-xs-12" id="brief">
          <h3>
            we are building a tool for beauty pros to share their work and take bookings through social style images. if you want to be part of our early user testing, then sign up now.
          </h3>
        </div>
        <div class="col-xs-12">

        </div>

      </div>
    </div>

  </div>
</div>
