<div class="scroll-page" id="hello">
  <div class="container">
    <%= render 'nav-menu' %>
    <div class="row">


      <div class="col-xs-4 col-xs-offset-4 text-center title">
        <a class="page-link" href="#hello">
          <h4 class="green-text">HELLO!</h4>
        </a>
      </div>

      <div class="col-xs-10 col-xs-offset-1 brief">
        <h3>
          sharma rules we are building a tool for beauty pros to share their work and take bookings through social style images. if you want to be part of our early user testing, then sign up now.
        </h3>
      </div>

      <%= render 'sign-up-form' %>

    </div>
  </div>
</div>

<div class="scroll-page" id="carousel">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="margin-top: 25%;">
          <%= render "carousel" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- How does it work? -->
<div class="scroll-page" id="how-does-it-work">
  <div class="container">
    <div class="row">

      <div class="col-xs-4 col-xs-offset-4 text-center title">
        <a class="page-link" href="#how-does-it-work">
          <h4 class="green-text">HOW DOES IT WORK?</h4>
        </a>
      </div>

      <div class="col-xs-8 col-xs-offset-1 brief">
        <h3>1</h3>
        <h3>
          You build your site using our tools. Not a page in the exact same format as everyone else.
        </h3>
      </div>

      <div class="col-xs-8 col-xs-offset-1 brief">
        <p>
          We know you’re an individual with your own taste and style, and we know you’re creative, thats why you’re in the beauty business, obvs. So we give you some customisable templates, fun animations and make it super responsive across mobile applications.
        </p>
      </div>

    </div>
  </div>
</div>

<!-- Then What? -->
<div class="scroll-page" id="then-what">
  <div class="container">
    <div class="row">

      <div class="col-xs-4 col-xs-offset-4 text-center title">
        <a class="page-link" href="#then-what">
          <h4 class="green-text">THEN WHAT?</h4>
        </a>
      </div>

      <div class="col-xs-8 col-xs-offset-1 brief">
        <h3>2</h3>
        <h3>
          Your clients book on your site via your social style imagery.
        </h3>
      </div>

      <div class="col-xs-8 col-xs-offset-1 brief">
        <p>
          Uploading a bunch of pics of your work and getting a like or a reblog is fun right?! You know whats more fun? Money. You take cash money bookings via your images NOT just a list of treatments, because your clients come in with 1000 screenshots of pics anyway…
        </p>
      </div>
      <div class="col-xs-8 col-xs-offset-1">
        <p class="green-text">Why didn’t anyone think of this before?! Yeah, we asked ourselves the same thing….</p>
      </div>

    </div>
  </div>
</div>

<!-- OH DAAAAMN! -->
<div class="scroll-page" id="oh-daaaamn">
  <div class="container">
    <div class="row">

      <div class="col-xs-4 col-xs-offset-4 text-center title">
        <a class="page-link" href="#oh-daaaamn">
          <h4 class="green-text">OH DAAAAMN!</h4>
        </a>
      </div>

      <div class="col-xs-8 col-xs-offset-1 brief">
        <h3>3</h3>
        <h3>
          Money in the bank (Shorty what you drank?) Appointments in your calendar.
        </h3>
        <h3>
          Job done.
        </h3>
      </div>

      <div class="col-xs-8 col-xs-offset-1 brief">
        <p>
          We attach the style pics to the bookings so you feel fully informed about your client before they arrive. Most importantly, we cut out a lot of customer friction in choosing their beauty service. Tired of sending 5 emails back and forth to confirm exactly what colour/art/style they want in their appointment? So are we.
        </p>
      </div>

    </div>
  </div>
</div>

<!-- WANNA GET DOWN? -->
<div class="scroll-page" id="wanna-get-down">
  <div class="container">
    <div class="row">

      <div class="col-xs-4 col-xs-offset-4 text-center title">
        <a class="page-link" href="#wanna-get-down">
          <h4 class="green-text">WANNA GET DOWN?</h4>
        </a>
      </div>

      <div class="col-xs-9 col-xs-offset-1 brief">
        <h3>It’s probably gonna work for you</h3>
        <p style="font-size: 20pt;">
          <i class="fa fa-square" aria-hidden="true"></i> you are a sole practitioner doing beauty treatments <br>
          <i class="fa fa-square" aria-hidden="true"></i> operate from a rented chair or from your bedroom/studio/shed <br>
          <i class="fa fa-square" aria-hidden="true"></i> love taking pictures of your work <br>
          <i class="fa fa-square" aria-hidden="true"></i> don’t use an existing scheduling system <br>
          <i class="fa fa-square" aria-hidden="true"></i> mainly get discovered by new clients on social. <br>
        </ul>
      </p>
    </div>

    <div class="col-xs-8 col-xs-offset-2 text-center" style="margin-top: 40px;">
      <p class="green-text">DON’T WORRY, FULL SALON SOLUTIONS AND THE WHOLE SUPER SMART SCHEDULING SYSTEM THAT YOU’VE ALWAYS DREAMED OF WILL COME IN TIME. THIS IS JUST THE FIRST STEP.</p>
    </div>

  </div>
</div>
</div>

<!-- SO WOULD THIS SOLVE ALL YOUR BOOKING WOES? -->
<div class="scroll-page" id="booking-woes">
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-xs-offset-3 text-center title">
        <a class="page-link" href="#booking-woes">
          <h4 class="green-text">SO WOULD THIS SOLVE ALL YOUR BOOKING WOES?</h4>
        </a>
      </div>

      <div class="col-xs-10 col-xs-offset-1 brief">
        <h3>if you wanna be an early user, be part of the gang and give us regular feedback, then please request an invite below</h3>
      </div>

      <%= render 'sign-up-form' %>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      var scrollSpeed = 500;

      $(".hello-link").click(function() {
        $('body').animate({
          scrollTop: $("#hello").offset().top
        }, scrollSpeed);
      });

      $(".how-does-it-work-link").click(function() {
        $('body').animate({
          scrollTop: $("#how-does-it-work").offset().top
      }, scrollSpeed);

      });

      $(".then-what-link").click(function() {
        $('body').animate({
          scrollTop: $("#then-what").offset().top
        }, scrollSpeed);
      });

      $(".oh-daaaamn-link").click(function() {
        $('body').animate({
          scrollTop: $("#oh-daaaamn").offset().top
        }, scrollSpeed);
      });

      $(".wanna-get-down-link").click(function() {
        $('body').animate({
          scrollTop: $("#wanna-get-down").offset().top
        }, scrollSpeed);
      });

      $(".booking-woes-link").click(function() {
        $('body').animate({
          scrollTop: $("#booking-woes").offset().top
        }, scrollSpeed);
      });

    });

  </script>
<% end %>

